<%- include('partials/header') %>


<div class="jumbotron centered bg-chg-color">
  <div class="container">
    <p class="display-5">    Welcome to our page dedicated to sharing secrets anonymously! We understand that sometimes you have something weighing on your mind that you can't share with anyone, and that's okay. Our platform is here to provide you with a safe and confidential space to share your secrets anonymously.</p>
    <br>
    <br>
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
  <br>

</div>


<%- include('partials/footer') %>
