<%- include('partials/header') %>


  <div class="jumbotron bg-chg-color">
    <h1 class="display-3">Welcome <%= currentUser.displayName %>!</h1>  
    <p></p>    
    <p>Secrets are pieces of information that are intentionally kept hidden from others. They can range from personal secrets to state secrets, and may be kept for various reasons such as privacy, security, or power. However, secrets can also cause harm and damage trust when revealed. Ultimately, the decision to keep or share a secret is a complex ethical and social issue.</p>
  </div>


<div class="jumbotron text-center bg-chg-color">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-4">You've Discovered My Secret!</h1>
 <%   usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%= user.secret %></p>
 <% }) %>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
  <div class="container home-content">
    
    <p class="display-5">We believe that everyone has secrets, big or small, and that it's important to have an outlet to release them. Sharing your secrets anonymously can help you relieve stress, find closure, and feel less alone.</p>
    <p class="display-5">Our process is simple and secure. You can submit your secret through our website, and it will be posted on our platform anonymously. We do not require any personal information, so you can feel confident that your identity will be protected.</p>
    <p class="display-5">Our community is made up of people from all walks of life who are ready to listen without judgment. By sharing your secrets anonymously, you can connect with others who may have similar experiences or struggles. You may even receive words of support or advice that can help you move forward.</p>
    <p class="display-5">So, don't hold onto your secrets any longer. Share them anonymously with our community and experience the relief that comes with letting go.</p>
    

  </div>
</div>

<%- include('partials/footer') %>
